<!DOCTYPE html>
<html>
<head><title>Milliways Code Review Week of {{since_date}} to {{today}}</title>
<style type="text/css">
body{
    width: 100%;
}
div.container {
    width: 550px;
    margin: 5px auto;
}
h1,h2 {
    text-align: center;
}
.revList {
    list-style-type: none;
    font-family: monospace;
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
}
textarea {
    display: block;
    width: 75%;
    height: 50em;
    margin-left: auto;
    margin-right: auto;
}
fieldset {
    margin: 2px auto;
    text-align: center;
    border: 0px;
}
select#authorsList {
    height:200px;
    width: 400px;
    margin: 10px auto;
    display: block;
}
button {
    display: inline;
    margin: 2px;
}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">

function updateAuthorsList(event) {
    var authorsList = $("#authorsList").val();
    var revList = $("pre.revList");
    revList.hide();

    var visibleRevs = revList.filter( function(i){
        var this_author = $("input[name='author']", this).val();
        return $.inArray( this_author, authorsList ) != -1
    }).show();
    //update counts
    $("#totalLinks").html( visibleRevs.length );
    resetLinkArray();
}

function initializeAuthorsSelect() {
    // populate a set of authors
    var authors_array = new Array();
    $("input[name='author']").each(function(i, v){
        var name = $(v).val();
        if( $.inArray(name, authors_array) == -1 ){
            authors_array.push(name);
        }
    });
    // then sort
    authors_array.sort();
    // fill the multi-select with authors
    $.each(authors_array, function(i, item){
        var option = $(document.createElement("option"));
        option.attr("value", item);
        option.attr("selected", "selected");
        $(option).text( item );
        $("#authorsList").append(option);
    });
    resetLinkArray();
}

function testAccess(event) {
    window.open("https://bullhorn.beanstalkapp.com/coldfusion");
}

var linkArray = [];

function nextLinkFunction(event) {
    var nextLinkCount = $("#nextLinkCount");
    var nextLinkButton = $("#nextLinkButton");

    var currentIndex = parseInt( nextLinkCount.text() );
    if( isNaN(currentIndex) ) { currentIndex = 0; }


    if( linkArray.length <= 0 || currentIndex >= linkArray.length ) {
        nextLinkButton.attr('href', 'about:blank');
        event.preventDefault();
    } else {
        nextLinkButton.attr('href', linkArray[currentIndex].getAttribute('href') );
        currentIndex += 1;
        nextLinkCount.text( currentIndex );
    }

}

function resetLinkArray(){
    linkArray = $("pre.revList:visible a").toArray();
    $("#totalLinks").html( linkArray.length );
    $("#nextLinkCount").html( 0 );
    if( linkArray.length > 0 ){
        $("#nextLinkButton").attr('href', linkArray[0].getAttribute("href"));
    } else {
        $("#nextLinkButton").attr('href', 'about:blank');
    }
}

$(document).ready(function(){
    initializeAuthorsSelect();

    //next setup the hide/show event function
    $("#authorsList").on('change', updateAuthorsList);
    $("#testAccessButton").click( testAccess );
    $("#nextLinkButton").click( nextLinkFunction );
    $("#resetLinksButton").click( resetLinkArray );

});
</script>
</head>
<body>

<div class="container">
    <h1>Milliways Code Review </h1>
    <h2>Week of {{since_date}} to {{today}}</h2>

<fieldset>
<select id="authorsList" multiple="multiple" autofocus="autofocus">
</select>

<button id="testAccessButton">Test Access</button>
<a id="nextLinkButton" href="about:blank" target="_blank">
    Review Next <span id="nextLinkCount">0</span> of <span id="totalLinks">{{ revs_count }}</span>
</a>
<button id="resetLinksButton">Reset</button>
</fieldset>

{{#revs}}
<pre class="revList"><input type="hidden" name="author" value="{{author}}">
<a href="https://bullhorn.beanstalkapp.com/coldfusion/changesets/{{commit}}" target="_blank">{{commit}}</a>
{{log}}
</pre>
{{/revs}}
</div>
<!-- <textarea readonly>{{raw_log}}</textarea> -->

</body>
</html>