<!DOCTYPE html>
<html>
<head><title>Milliways Code Review Week of {{since_date}} to {{today}}</title>
<style type="text/css">
body{
    width: 100%;
}
div.container {
    width: 550px;
    margin: 5px auto;
}
h1,h2 {
    text-align: center;
}
.revList {
    list-style-type: none;
    font-family: monospace;
    text-align: left;
}
textarea {
    display: block;
    width: 75%;
    height: 50em;
    margin-left: auto;
    margin-right: auto;
}
fieldset {
    margin: 2px auto;
    text-align: center;
    border: 0px;
}
select#authorsList {
    height:200px;
    width: 400px;
    margin: 10px auto;
    display: block;
}
button {
    display: inline;
    margin: 2px;
}
</style>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script type="text/javascript">

function updateAuthorsList(event) {
    var authorsList = $("#authorsList").val();
    $("pre.revList").hide();

    $("pre.revList").filter(function(i){
        var this_author = $("input[name='author']", v).val();
        return $.inArray( this_author, authorsList ) != -1
    }).show();
}

function initializeAuthorsSelect() {
    //populate a set of authors
    var authors_dict = {};
    $("input[name='author']").each(function(i,v){
        authors_dict[ $(v).val() ] = null;
    });
    //convert to array
    var authors_array = new Array();
    $.each(authors_dict, function(k, v){
        authors_array,push( k );
    });
    // then sort
    authors_array.sort();
    // fill the multi-select with authors
    $.each(authors_array, function(i, key){
        var item = authors_array[key];
        var option = $(document.createElement("option"));
        option.attr("value", item);
        option.attr("selected", "selected");
        $(option).text( item );
        $("#authorsList").append(option);
    });
}

function testAccess(event) {
    window.open("https://bullhorn.beanstalkapp.com/coldfusion");
}

function openAllShown(event) {
    var confirmed = window.confirm("This will open lots of tabs\nAre you sure?");
    if (confirmed) {
        $("pre.revList:visible a").each(function(i,v){
            var href = v.getAttribute("href");
            // var target = v.getAttribute("target");
            var target = $(v).text();
            window.open(href, target);
        });
    }
}

$(document).ready(function(){
    initializeAuthorsSelect();

    //next setup the hide/show event function
    $("#authorsList").on('change', updateAuthorsList);
    $("#testAccessButton").click(testAccess);
    $("#goButton").click(openAllShown);

});
</script>
</head>
<body>

<div class="container">
    <h1>Milliways Code Review </h1>
    <h2>Week of {{since_date}} to {{today}}</h2>

<fieldset>
<select id="authorsList" multiple="multiple" autofocus="autofocus">
</select>

<button id="testAccessButton">Test Access</button>
<button id="goButton">&gt;&gt; GO! &lt;&lt;</button>
</fieldset>

{{#revs}}
<pre class="revList"><input type="hidden" name="author" value="{{author}}">
<a href="https://bullhorn.beanstalkapp.com/coldfusion/changesets/{{commit}}" target="_blank">{{commit}}</a>
{{log}}
</pre>
{{/revs}}
</div>
<!-- <textarea readonly>{{raw_log}}</textarea> -->



</body>
</html>